PORT=10000
KLEO_SERVER_MODE=production
KLEO_MAX_SATELLITES=4096
KLEO_MAX_TLE_SATELLITES=512
KLEO_MAX_STATIONS=24
KLEO_MAX_COVERAGE_AREAS=18
KLEO_MAX_HEATMAP_POINTS=60
KLEO_MAX_SIM_SAMPLES=3000
KLEO_MAX_TRADE_CASES=64
KLEO_MAX_SNAPSHOT_WORK=20000000
KLEO_MAX_SIM_WORK=20000000
KLEO_MAX_TRADE_WORK=30000000
KLEO_MAX_TLE_CHARS=200000
KLEO_STATIC_CACHE_SECONDS=86400
KLEO_EXPOSE_SERVER_INFO=true
